

<div class="card mt-4" style="width: 18rem;  float: left;">
    <img [src]="character.image" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
    <button type="button"  class="btn btn-dark btn-block" [routerLink]="['/home']">
        Volver  atras
      </button>
  </div>

  <div class="card ml-3 mt-4" style=" width: 20%;; float: left; padding: 2%;">

        <div class="form-group form-check">
          <label class="form-check-label" for="exampleCheck1"> Nombre:  </label>
          <span class="badge badge-pill badge-dark ml-3">{{character.name}} </span>
          <br>
          <label class="form-check-label" for="exampleCheck1">Status:  </label>
          <span class="badge badge-pill badge-dark ml-3">{{character.status}}</span>
          <br>
          <label class="form-check-label" for="exampleCheck1">Species:  </label>
          <span class="badge badge-pill badge-dark ml-3">{{character.species}}</span>
          <br>
          <label class="form-check-label" for="exampleCheck1">Gender:  </label>
          <span class="badge badge-pill badge-dark ml-3">{{character.gender}}</span>
          <br>
          <label class="form-check-label" for="exampleCheck1">Created: </label>
          <span class="badge badge-pill badge-dark ml-3">{{character.created}} </span>
          
        </div>
  
      
  </div>




