ul{
    // background-color: blue;
    width:8%;
    float: left;
    height: 1550px;
    background-image: url(../../../assets/fondo.jpg);
    color: white;
}

@media only screen and (max-width: 994px) {
    ul {
      width:26%;
      background-image: url(../../../assets/fondo.jpg);
    }
  }